* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
    margin-top: 0;
    border-bottom-style: none;
    /* background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.24), transparent); */
    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), transparent); */
    gap: 40px;
    background-color: rgb(255, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header>span {
    margin-left: -30px;
    margin-right: 50px;
    font-size: 20px;
}

header>button,
input {
    padding: 10px;
}

header>button {
    border: none;
    background-color: rgb(0, 161, 242);
    color: white;
    border-radius: 5px;
}

header>button:hover {
    background-color: rgb(0, 136, 204);
}

header>div>#buscar {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(211, 211, 211, 0.824);
}

header>div>#pesquisar {
    height: 46px;
    width: 46px;
    background-color: grey;
    border: 5px solid transparent;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

#pesquisar>img {
    height: 25px;
    width: 25px;
}

header>#cadastrar {
    cursor: pointer
}

header>#fazer-login {
    margin-left: 600px;
    cursor: pointer
}

.img-header {
    height: 75px;
}

.div-header {
    display: flex;
    align-items: center;
}

.div-header>#buscar {
    width: 290px
}