body {
    background-color: rgb(248, 248, 248);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 45px;
}

h2 {
    display: flex;
    justify-content: center;
}

.img-campanha {
    border-radius: 10px;
    max-width: 800px;
    max-height: 400px;
}

.principal-info-campanha {
    display: flex;
    margin-top: 40px;
}

.principal-info-campanha {
    display: flex;
    gap: 30px;
}

.principal-info-campanha>div>.valor-and-meta {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    padding: 25px;
}

.meta {
    font-size: 35px
}

.valor-meta {
    font-size: 50px;
    font-weight: bold
}

.ja-arrecadou {
    font-size: 30px;
}

.valor-arrecadado {
    font-size: 30px;
    font-weight: bold;
}

.organizador-foto-e-nome {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    gap: 10px;
}

.organizador-foto-e-nome:hover {
    cursor: pointer;
}

.organizador-foto-e-nome>img {
    height: 35px;
    width: 50px;
    border-radius: 50px;
}

.btns-apoie-site {
    display: flex;
    gap: 10px;
}

#apoiar {
    background-color: #f86161;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}

#apoiar:hover {
    background-color: #c63e3e;
    cursor: pointer
}

.pix-campanha {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pix-campanha>div {
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    min-height: 80px;
    max-height: 200px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
}

.pix-campanha>div>label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

#fechar-pix {
    background: none;
    border: none;
    width: 10px;
}

#fechar-pix:hover {
    cursor: pointer;
}

.btn-site {
    margin-top: 15px;
    height: 53px;
    width: 155px;
    border-radius: 10px;
    color: rgb(74, 74, 74);
    background-color: rgba(255, 255, 255, 0.785);
    font-size: 15px;
    border: 1px solid rgb(157, 157, 157);
}

.btn-site:hover {
    background-color: rgb(157, 157, 157);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.redes-sociais {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.btn-rede-social {
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.57);
    border: 1px solid rgba(0, 0, 0, 0.176);
    color: rgba(94, 94, 94);
    font-size: 13px;
    border-radius: 10px;
}

.btn-rede-social:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-rede-social {
    height: 25px;
}

.text-alert {
    margin-top: 15px;
    font-size: 15px;
    color: rgb(94, 94, 94);
}

.breve-resumo {
    margin-top: 30px;
    font-size: 25px;
}

.descricao {
    margin-top: 20px;
    max-width: 1200px;
    font-size: 20px;
    color: rgba(30, 30, 30, 0.824)
}

.section-descricao {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 400px;
}

.occult {
    display: none;
    visibility: hidden;
}